.c-ff6c00 {
    color: #ff6c00!important;
}
.main-banner{
    min-height: 508px;
    position: relative;
    z-index: 1;
    .relative-height {
        min-height: 508px;
        position: relative;
        z-index: 2;
    }
    .news-on-banner {
        min-height: 290px;
        //position: absolute;
        margin-top: 30px;
        top: calc(100% - 296px);
        left: 0;
        border-top: 6px solid #ff6000;
        width: calc(100% - 15px);
        padding-left: 0;
        padding-right: 0;
        margin-left: calc(var(--bs-gutter-x)/ 2);
        &.video-content {
            background: #fff;
        }
    }
    .main-banner-background {
        background: url(../images/bandoc-banner.jpg) no-repeat top center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 568px;
        top: -60px;
        z-index: 1;
    }
    .banner-title {
        font-family: "UTM Niagara";
        font-size: 107px;
        line-height: 1;
        margin-top: 75px;
        text-align: center;
        color: #e7fe4e;
        &.s56 {
            font-size: 56px;
        }
    }
    .news-on-banner {
        .banner-new-col {
            width: 50%;
            float: left;
            &.w70 {
                width: 70%;
                .video-js{
                    width: 100%;
                }
                .news-thumbnail {
                    &.h404 {
                        .middle {
                            padding-bottom: 404px;
                        }
                    }
                }
                .middle {
                    img {
                        width: 100%;
                    }
                }
            }
            &.w30 {
                width: 30%;
                padding: 40px 22px;
                background: #fff;

            }
            .banner-description {
                .title {
                    line-height: 1.2;
                    padding-bottom: 15px;
                }
                .sub-list-news {
                    .sub-item {
                        width: 80%;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            .news-title {
                margin-top: 15px;
                color: #202020;
            }
        }
    }
}

.short-description-tin-anh{
	width: 730px;
	margin: 0 auto;
}

.cls-image-wrapper{
	margin-bottom: 20px;
}

.search-on-top {
    background-color: #f4f4f4;
    padding: 16px 0;
    .search-input {
        position: relative;
        .cleartext {
            position: absolute;
            background-image: url(../images/16.png);
            display: block;
            background-repeat: no-repeat;
            background-position: -1px -705px;
            width: 14px;
            height: 14px;
            display: block;
            right: 23px;
            top: 15px;
            cursor: pointer;
        }
        &.w980 {
            width: 980px;
        }
        .btn-search {
            position: absolute;
            background-image: url(../images/16.png);
            display: block;
            background-repeat: no-repeat;
            background-position: 0 -672px;
            width: 16px;
            height: 16px;
            display: block;
            right: 70px;
            top: 15px;
            cursor: pointer;
        }
    }
    .txt-search {
        width: 914px;
        float: left;
        height: 44px;
        border-radius: 2px;
        border: none;
        padding-left: 16px;
    }
    .search-by-cate {
        position: absolute;
        width: 280px;
        height: 44px;
        right: 105px;
        top: 0;
        .text-first {
            color: #222;
            @include RobotoRegular(14px);
            width: 240px;
            padding: 14px 20px;
            text-align: right;
            display: inline-block;
            cursor: pointer;
            position: relative;
            &:after {
                top: 50%;
                border: solid transparent;
                border-width: .4em .35em 0;
                border-top-color: #222;
                margin: -.125em .5em 0 0;
                content: '';
                display: block;
                width: 1px;
                position: absolute;
                right: -3px;
            }
        }
        .box-cate {
            display: none;
            &.active {
                display: block;

            }
            .cate-text {
                color: #222;
                @include RobotoRegular(14px);
                border: none;
                width: 240px;
                padding: 14px 20px;
                border-bottom: 1px solid #cfcfcf;
                background-color: #fbfbfb;
                position: relative;
                z-index: 100;
                cursor: pointer;
                display: block;
                text-align: right;
                transition: all 2s;
                -webkit-transition: all 2s;
                &.active, &:hover{
                    background-color: #feebe9;
                }
            }
        }
    }
}

.search-result {
    .news-list-common {
        margin-top: 25px;
    }
}

.filter-block {
    margin-top: 12px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px;
    .search-type-title {
        margin-right: 24px;
        float: left;
        color: #333;
        @include RobotoRegular(14px);
    }
    .filter {
        padding-bottom: 5px;
        margin-right: 24px;
            color: #333;
            @include RobotoRegular(14px);
        &.active, &:hover {
            color: #e32;
            border-bottom: 2px solid #e32;
            font-weight: 700;
        }
    }
}

.slick-galleries {
    position: relative;
    width: 920px;
    overflow: hidden;
    .slick-item {
        float: left;
        width: 920px;
        background: #fff;
        p {
            color: #000;
            @include RobotoRegular(14px, 1.4);
            padding-top: 5px;
            padding-left: 15px;
            padding-right: 15px;
        }
        img {
            width: 100%;
            height: calc(100vh - 100px);
        }
    }
}



.new-block-paper {
    .adv-box {
        img {
            width: 100%;
        }
    }
}


.body-024734 {
    .video-content {
        border-color: #024734;
    }
    header {
        .header-middle {
            background: #024734;
        }
    }
}

.news-list-common{
    margin-top: 35px;
    &.w720 {
        width: 720px;
        margin: 0 auto;
    }
    .news-common-item {
        border-bottom: 1px solid #9a9a9a;
        padding-bottom: 22px;
        margin-top: 22px;
        &.has-br-top {
            border-top: 1px solid #9a9a9a;
            padding-top: 22px;
        }
        &:last-child {
            border-bottom: 1px solid #9a9a9a;
        }
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        .news-left-item {
            float: left;
            width: calc(100% - 319px);
            margin-right: 35px;
            .category-title {
                @include SpaceMonoRegular(14px);
                color: #3b2997;
            }
            .datetime {
                @include SpaceMonoRegular(11px);
                color: #b2b2b2;
            }
            .description {
                margin-top: 5px;
                a {

                }
                p {
                    @include RobotoRegular(14px, 1.3);
                    padding-top: 10px;
                    color: #202020;
                    text-align: justify;
                }
            }
        }
        .news-right-item {
            width: 283px;
            float: left;
        }
    }
}

.new-papers-list {
    .thumb-paper {
        margin-bottom: 18px;
        .middle {
            padding-bottom: 249px;
        }
    }
    .date {
        margin-bottom: 25px;
    }
}

.open-news-paper-by-date {
    margin-top: 5px;
    .input-group.date {
        @include RobotoRegular(14px);
        border: 1px solid #202020;
        padding: 0 10px;
        border-radius: 5px;
        input[type="text"] {
            border: none;
            width: 105px;
            height: 35px;
            @include placeholdercolor(#202020);
            outline: none;
        }
        i.fa {
            font-size: 16px;
            position: relative;
            top: 10px;
            margin-right: 5px;
        }
    }
}

.news-sidebar-right {
    .news-sidebar-item {
        margin-bottom: 25px;
        a {
            display: flex;
            align-items: center;
        }
        .news-sidebar-img {
            width: 165px;
            height: 249px;
            .middle {
                padding-bottom: 249px;
            }
        }
        p {
            @include RobotoRegular(16px);
            width: calc(100% - 190px);
            margin-left: 15px;
        }
    }
}



.news-block-single {
    .single-block-center {
        width: 950px;
        margin: 0 auto;
        .news-list-common {
            margin-top: 65px;
        }
        .short-description {
            width: 720px;
            margin: 0 auto;
        }
        .news-content {
            margin-top: 25px;
        }
        .news-title {
            padding-bottom: 5px;
        }
    }
    .news-datetime{
        position: relative;
        &.text-center {
            .news-title, .datetime {
                text-align: center;
                float: none!important;
            }
        }
        .category-title {
            @include SpaceMonoRegular(19px);
            color: #ca1519;
        }
        .datetime {
            background: url(../images/clock.png) no-repeat;
            @include SpaceMonoRegular(15px);
            padding-left: 25px;
            color: #737373;
            padding-bottom: 3px;
            padding-top: 2px;
            display: inline-block;
        }
    }
    .news-title {
        color: #202020;
        padding-top: 5px;
        padding-bottom: 15px;
        text-align: justify;
        padding-right: 5px;
    }
    p {
        @include RobotoRegular(17px, 1.4);
        padding-bottom: 15px;
        color: #010000;
    }
    b {
        font-weight: 700;
        color: #737373;
    }
}

.news-sidebar-right-block {
    .new-block-section {
        border: none;
        .new-block-border {
            padding-bottom: 15px;
            border: none;
            .new-block-title {
                color: #000;
            }
            &:after {
                border: none;
            }
        }
    }
}

.related-news {

}
.other-events {
    .hasBrLeft {
        border-left: 5px solid #cc0000;
        display: inline-block;
        text-transform: uppercase;
        @include RobotoBold(16px);
        color: #000;
        padding-left: 5px;
    }
    .other-text {
        color: #8d8d8d;
        @include RobotoBold(14px);
    }

    ul {
        padding-left: 30px;
        margin-top: 15px;
        li {
            padding-bottom: 10px;
            list-style-type: disc;
            a {
                color: #373737;
                @include RobotoRegular(16px);
            }
        }
    }
}
.comment-respond {
  background: #f4f4f4;
}
.comments {
    border-top: 1px solid #909090;
    padding-top: 25px;
    margin-top: 25px;
}
.comment-respond {
  padding: 15px 13px;
  textarea {
      background: #fff;
      border: solid 1px #dbdbdb;
      @include BorderRadius(4px);
      padding: 12px 15px;
      height: 84px;
      margin-bottom: 17px;
      width: 100%;
  }
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.post-comments {
  margin-top: 32px;
  .comment-list {
    margin-top: 21px;
    li {
      border-bottom: 2px solid #f0f0f0;
      padding-bottom: 18px;
      margin-bottom: 18px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .author-name {
        @include RobotoBold(15px, 22px);
        color: #1e1e1e;
        margin-bottom: 3px;
      }
      .post-time {
        color: #a1a1a1;
        @include RobotoRegular(14px, 22px);
        margin-right: 64px;
        margin-left: 5px;
      }
      .author-avatar {
          float: left;
          position: relative;
          top: 5px;
          margin-right: 10px;
      }
      .author-content {
        color: #1e1e1e;
        @include RobotoRegular(16px, 22px);
      }
      .author-controls {
        margin-top: 5px;
        .answer-box {

            float: right;
            color: #8d8d8d;
             @include RobotoRegular(14px, 22px);
             .number-reply {
                 margin-right: 5px;
             }
        }
        a {
          @include RobotoRegular(14px, 22px);
          color: #1e1e1e;
          margin-right: 24px;
          .fa {
              margin-right: 3px;
          }
        }
      }
    }
    ul.children {
        padding-left: 40px;
        margin-top: 18px;
    }
  }
  a.load-more {
    color: #115daa;
    @include RobotoRegular(15px, 22px);
    display: table;
    margin: 30px auto;
    background: #f6f6f6;
    padding: 13px 22px;
  }
}
.key-words {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #8d8d8d;
    @include RobotoRegular(16px);
    b {
        color: #000;
    }
}
.socials-sharing {
    margin-top: 13px;
    a {
        background: url(../images/like-and-share.png) no-repeat left center;
        width: 110px;
        display: inline-block;
        height: 33px;
        &.fb-share{
            background-position: right center;
        }
    }
}
.relative-sticky {
    position: relative;
    float: right;
    width: 35px;
    &.absolute {
        position: absolute;
        width: 35px;
        right: 0;
        height: 100%;
    }
}
.message-box {
    float: right;
    a {
        display: inline-block;
        margin-left: 5px;
        .fa {
            font-size: 20px;
            color: #b4b4b4;
        }
    }
}
.new-block-title {
    color: #000;
}
.timeline-single {
    .new-block-list {
        padding-top: 18px;
    }
    .new-block-section {
        margin-top: 25px;
            padding-top: 0;
            .new-block-border {
                padding-right: 0;
            }
    }
    .adv-box {
        margin-top: 5px;
    }
    .title-border-bottom {
        margin-bottom: 18px;
    }
    .news-datetime {
        .datetime {
            background: transparent;
            padding-left: 0;
            &:before {
                content: '';
                width: 22px;
                height: 20px;
                background: url(../images/clock.png) no-repeat;
                opacity: 0.5;
                display: inline-block;
                position: relative;
                top: 3px;
                margin-right: 5px;
            }
        }
    }
}
.main-content-body {
    border-top: 1px solid #b4b4b4;
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
    .relative-sticky {
        &.absolute {
            right: auto;
            left: 0;
        }
    }
    &:after {
        content: "";
        clear: both;
        display: block;
    }
    .relative-sticky {
        float: left;
            margin-left: 28px;
    }

    .content-detail-body {
        width: calc(100% - 95px);
        float: right;
        h2 {
            color: #222;
            @include RobotoBold(16px);
            line-height: 22px;
            margin-bottom: 12px;
            letter-spacing: -.2px;
        }
        .relate-container {
           background-color: #f6f6f6;
           padding: 10px 0;
           margin-bottom: 15px;
           ul{
               list-style-type: none;
               margin-left: 20px;
               li {
                   &:before {
                       content: "";
                       width: 5px;
                       height: 5px;
                       background: #0767a7;
                       display: inline-block;
                       margin-right: 8px;
                        position: relative;
                        top: -2px;
                   }
                   a {
                       color: #222;
                        @include RobotoRegular(12px);
                        line-height: 2.08;
                   }
               }
           }
       }
    }
}
.col-custom-left-single {
    width: calc(100% - 347px);
    padding-right: 30px;
}
.col-custom-right-single {
    width: 317px;
    padding-left: 0;
    padding-right: 0;
}
.sidebar-search {
    margin-top: 20px;
    width: 100%;
    &:after {
        content: "";
        clear: both;
        display: block;
    }
    form {
        float: left;
        width: 225px;
        .input-search {
            position: relative;
            input[type="text"] {
                width: 100%;
                padding-left: 10px;
                outline: none;
            }
        }
        .search-btn {
            position: absolute;
            right: 5px;
            top: 2px;
            border: none;
            background: transparent;
        }
    }
    .social-share{
        float: right;
        a{
            width: 30px;
            height: 30px;
            background: url(../images/fb-gg.jpg) no-repeat left center;
            display: inline-block;
            margin-left: 10px;
            &.yt {
                background-position: right center;
            }
        }
    }
}
.news-timeline {
    ul {
        li {
            border-bottom: 1px dotted #e6e6e6;
            margin-bottom: 15px;
        }
    }
    p {
        display: flex;
        align-items: center;
        .match-icon {
            display: inline-block;
            position: relative;
            top: 3px;
            float: left;
            width: 30px;
            margin-right: 10px;
        }
        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }
    b{
        color: #222;
    }
    .marker{
        width: 5px;
        height: 5px;
        background: #0767a7;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: -2px;
    }
}
.like-share-box {
    float: right;
    width: 35px;
    position: absolute;
    top: auto;
    right: 0;
    &.fixed {
        position: fixed;
        top: 10px;
        right: auto;
        &.reach-footer {
            position: relative;
        }
    }
    .item-like {
        margin-bottom: 8px;
        a {
            display: block;
            @include RobotoRegular(14px);
            color: #707970;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 1px solid #222;
            opacity: .5;
            display: block;
            position: relative;
            cursor: pointer;
            &:hover, &.active {
                border: 1px solid #e32;
                opacity: 1;
                b {
                    color: #cc0000;
                }
            }
            b {
                color: #222;
                position: absolute;
                top: 36px;
                left: -1px;
                text-align: center;
                width: 34px;
            }

            &.like-icon {
                margin-bottom: 24px;
                &:after {
                    background-image: url(../images/32@2x.png);
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 32px auto;
                    background-position: -8px -232px;
                    content: '';
                    width: 16px;
                    height: 16px;
                    display: block;
                    margin-left: 7px;
                    margin-top: 7px;
                }
                &:hover {
                    &:after {
                        background-position: -8px -328px;
                        opacity: 1;
                    }
                }
            }
            &.comment-icon {
                margin-bottom: 24px;
                &:after {
                    background-image: url(../images/32@2x.png);
                    background-repeat: no-repeat;
                    background-size: 32px auto;
                    background-position: -7px -295px;
                    content: '';
                    width: 18px;
                    height: 18px;
                    display: block;
                    margin-left: 8px;
                    margin-top: 7px;
                }
                &:hover {
                    &:after {
                        background-position: -7px -391px;
                        opacity: 1;
                    }
                }
            }
            &.copy-icon {
                &:after {
                    background-image: url(../images/32@2x.png);
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 32px auto;
                    background-position: -7px -263px;
                    content: '';
                    width: 18px;
                    height: 18px;
                    display: block;
                    margin-left: 7px;
                    margin-top: 6px;
                }
                &:hover {
                    &:after {
                        background-position: -7px -359px;
                        opacity: 1;
                    }
                }
            }
            &.facebook-icon {
                &:after {
                    background-image: url(../images/16@2x.png);
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 16px auto;
                    background-position: -4px -192px;
                    content: '';
                    width: 8px;
                    height: 16px;
                    margin-left: 11px;
                    display: block;
                    margin-top: 8px;
                }
                &:hover {
                    &:after {
                        background-position: -4px -272px;
                        opacity: 1;
                    }
                }
            }
            &.save-icon {
                &:after {
                    background-image: url(../images/16@2x.png);
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 16px auto;
                    background-position: -1px -225px;
                    content: '';
                    width: 14px;
                    height: 14px;
                    display: block;
                    margin-left: 8px;
                    margin-top: 8px;
                }
                &:hover {
                    &:after {
                        background-position: -1px -305px;
                        opacity: 1;
                    }
                }
            }
        }
    }

}
