footer {
    margin-top: 200px;
    background: #cc0000;
    padding-top: 55px;
    padding-bottom: 60px;
    a.footer-logo {
        margin-bottom: 20px;
    }
    .container {
        max-width: 1330px!important;
    }
    .footer-information {
        @include RobotoRegular(16px, 1.4);
        color: #fff;
    }
    .footer-right {
        .footer-title-right{
            color: #fff;
            @include OswaldLight(30px);
            margin-bottom: 35px;
        }
        .app-block {
            a {
                display: block;
            }
        }
    }
}

