.news-with-no-padding {
	.row {
		.col-6 {
			padding-right: 2px;
		}
		.col-3 {
			padding-left: 0px;
			padding-right: 0;
		}
		.col-3:nth-child(2) {
			padding-right: 2px;
		}
	}
}
.news-thumbnail {
    position: relative;
    .category-title {
        position: absolute;
        bottom: 0;
        left: 0;
        @include SpaceMonoRegular(12px);
        color: #4118da;
        padding: 10px 25px;
        background: #fff;
		&.no-absolute {
			position: inherit;
			padding-left: 0!important;
		}
    }
	&.h290 {
        .middle {
            padding-bottom: 290px;
        }
    }
    &.h288 {
        .middle {
            padding-bottom: 288px;
        }
    }
	&.h190 {
		.middle {
            padding-bottom: 190px;
        }
	}
	&.h80 {
		.middle {
            padding-bottom: 80px;
			img {
				width: 100%;
			}
        }
	}
	&.h100 {
		.middle {
            padding-bottom: 100px;
			img {
				width: 100%;
			}
        }
	}
}

.sub-list-news {
    &.full-width {
        .sub-item {
            width: 100%;
            margin-left: 0;
        }
    }
    .sub-item {
        margin-top: 18px;

        width: calc(50% - 15px);
        float: left;
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        &::before {
            content: "";
            border-top: 1px solid #9a9a9a;
            width: 50%;
            display: block;
        }
    }
    ul {
        padding-top: 18px;
        li {
            padding-bottom: 20px;
            a {
                @include RobotoBold(14px, 1.4);
                color: #202020;
                float: left;
                width: calc(100% - 18px);
				&:hover {
					color: #cc0000;
				}
            }
            &.circle {
                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    @include BorderRadius(50%);
                    background: #4118da;
                    float: left;
                    margin-right: 10px;
                    position: relative;
                    top: 4px;
                }
                &.c-red {
                    &::before {
                        background: #cc0000;
                    }
                }
            }
            &.triangle {
                &::before {
                    background: url(../images/arrow-red.png) no-repeat;
                    width: 9px;
                    height: 10px;
                    content: "";
                    float: left;
                    margin-right: 10px;
                    position: relative;
                    top: 4px;
                }
				&.green {
					&::before {
						background: url(../images/arrow-green.png) no-repeat;
					}
				}
				&.blue {
					&::before {
						background: url(../images/arrow-blue.png) no-repeat;
					}
				}
                a {
                    width: calc(100% - 19px);
                }
            }
            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }
    }
}

.video-content {
	margin-top: 55px;
	border-top: 5px solid #cc0000;
	.video-js {
		width: 100%;
		&.vjs-playing {
			.vjs-big-play-button {
				display: none;
			}
		}
		.vjs-big-play-button {
			background: url(../images/play-button.png) no-repeat;
			display: block;
			width: 73px;
		    height: 84px;
		    border: none;
		    border-radius: 0;
			top: 50%;
			left: 50%;
			margin-top: -42px;
			margin-left: -32px;
			.vjs-icon-placeholder {
				&:before {
					display: none;
				}
			}
		}
	}
	.video-topic {
		padding-top: 55px;
		padding-bottom: 20px;
		@include OswaldLight(36px);
		text-transform: uppercase;
		span {
			@include OswaldRegular(36px);
		}
	}
	p {
		@include RobotoRegular(14px, 1.4);
		color: #202020;
	}
	.sub-list-news {

		.sub-item {
			&:before {
				display: none;
			}
			width: 79%;
		}
	}
}

.new-block-section {
	border-top: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	margin-top: 65px;
	padding-top: 40px;
	position: relative;
	overflow: hidden;
	.new-red-black-title {
		@include OswaldRegular(28px, 1.5);
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 35px;
		border-bottom: 5px solid #cc0000;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		span {

		}
	}
	&.just-border-top-bottom {
		border: none;
		.new-block-border {
			border-top: 1px solid #9a9a9a;
			border-bottom: 1px solid #9a9a9a;
			padding-bottom: 10px;
			padding-top: 33px;
			&:after {
				border: none;
			}
		}
	}
	.new-no-border{
		.new-block-title {
			min-height: 43px;
		}
		.new-block-list {
			padding-top: 0;
			
		}
	}
	.new-block-border {
		position: relative;
		padding-right: 30px;
		.new-block-title {
			min-height: 43px;
		}
		.new-block-list {
			padding-top: 0;
		}
		&:after {
			content: "";
			border-right: 1px solid #9a9a9a;
			position: absolute;
			right: 0;
			top: 0;
			height: 110%;
		}
	}
	.new-block-title {
		padding-bottom: 18px;
	}
}

.title-border-bottom {
	position: relative;
	margin-bottom: 30px;
	&:after {
		content: '';
		border-bottom: 1px solid #9a9a9a;
		position: absolute;
		bottom: 9px;
		left: 0;
		width: 100%;
	}
	&.br-ff6c00 {
		div {
			border-color: #ff6c00;	
		}
	}
	&.br-blue {
		div {
			border-color: #4118da;	
		}
	}
	div {
		display: inline-block;
		border-bottom: 9px solid #cc0000;
		line-height: 1.7;
		
	}
	&.border5 {
		div {
			border-width: 5px;
		}
		&:after {
			bottom: 5px;
		}
	}
	&.c-024734 {
		div {
			border-color: #024734;
		}
	}
}
.new-block-list {
	padding-top: 30px;
	.new-block-item {
			padding-bottom: 20px;
			a {
				color: #202020;
				font-family: "Roboto Condensed",sans-serif;
				font-size: 14px;
				line-height: 1.3;
				font-weight: 700;
			}
	}
}

.new-block-sidebar {
	.new-block-list {
		.new-block-item {
			padding-right: 15px;
		}
	}
}

.new-block-list {
	.new-block-item {
		padding-bottom: 20px;
		a {
			color: #202020;
			@include RobotoBold(14px, 1.3);
			&:hover {
				color: #cc0000;
			}
		}
		&:after {
			content: "";
			clear: both;
			display: block;
		}
	}
	.mew-block-image {
		width: 80px;
		height: 80px;
		float: left;
		.middle {
			padding-bottom: 100%;
		}
	}
	.new-block-desc {
		margin-left: 15px;
		float: left;
		width: calc(100% - 95px);

		.category-title {
			margin-bottom: 10px;
			a {
				@include OswaldRegular(12px);
				color: #4118da;
			}
		}
	}
}

.new-block-two-column {
	margin-top: 60px;
	.new-with-three-column {
		.container {
			padding-left: 0;
		}
		
	}
	
	.container-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.row {
		
	}
	.news-thumbnail {
		.category-title{
			padding: 10px 13px;
		}
	}

	.red-backgroud {
		background: #cc0000;
		.container-wrapper {
			a {
				color: #fff;
				padding-bottom: 30px;
			}
			p{
				padding-bottom: 10px;
				color: #Fff;
				@include OswaldRegular(10px, 1.4);
			}
		}
	}

	.new-with-padding-column {
		.new-block-list {
			padding-left: 15px;
		}
		.container-wrapper {
			padding-left: 0;
			padding-right: 0;
		}
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.row {
			.col-6, .col-3 {
				padding-right: calc(var(--bs-gutter-x)/ 2);
				padding-left: calc(var(--bs-gutter-x)/ 2);
			}
		}
	}
}
