.news-with-no-padding {
	.row {
		.col-6 {
			padding-right: 0;
		}
		.col-3 {
			padding-left: 0;
		}
		.col-3:nth-child(2) {
			padding-right: 0;
		}
	}	
}
.news-thumbnail {
    position: relative;
    .category-title {
        position: absolute;
        bottom: 0;
        left: 0;
        @include SpaceMonoRegular(12px);
        color: #4118da;
        padding: 10px 25px;
        background: #fff;
    }
    &.h288 {
        .middle {
            padding-bottom: 288px;
        }
        
    }
    
}

.sub-list-news {
    .sub-item {

    }
    ul {
        li {
            &.circle {

            }
            &.triangle {
                
            }
        }
    }
}