.modal-backdrop.show {
  opacity: 0.8;
}

#openSlickSlider {
}
.slick-galleries {
    height: calc(100vh - 40px);
    max-height: 680px;
    .slick-arrow {
        background: url(../images/arrow-left.png) no-repeat;
        width: 35px;
        height: 61px;
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -30px;
        border: none;
            z-index: 100;
        text-indent: -9999999px;
        &.slick-next {
            background: url(../images/arrow-right.png) no-repeat;
            left: auto;
            right: 15px;
        }
    }
}
.common-modal {
    .note-editor {
        margin-bottom: 25px;
    }
    a.close {
      background: url(../images/close.png) no-repeat center;
      width: 27px;
      height: 27px;
      position: absolute;
      top: 0;
      right: -33px;
    }
    .modal-container {
        width: 920px;
        background: #fff;
        position: relative;
        z-index: 2;
        display: table;
        margin: 0 auto;
        padding: 0px;
        margin-top: 25px;
        &.w715 {
            width: 715px;
        }
        &.w775 {
            width: 775px;
        }
        &.w755 {
            width: 755px;
        }
    }
    .dropZone {
        background-image: linear-gradient(to right, #BCBCBC 50%, white 50%);
        background-position: top;
        background-size: 10px 0px;
        background-repeat: repeat-x;
        border-color: #bcbcbc;
        border-width: 1px;
        border-style: dashed;

        padding: 32px 25px 25px;
        .drop-img {
            background: url(../images/profile/surface1.png) no-repeat top center;
            padding-top: 98px;
            color: #BCBCBC;
            font-size: 35px;
            font-weight: 700;
            text-align: center;
        }
        p {
            font-size: 13px;
            text-align: center;
        }
    }
    .congarulation-container {
      .center-middle {
        display: table;
        margin: 15px auto 40px;
      }
    }
    a.btn {
      font-size: 15px;
      display: table;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
    }
    .btn-submit {
      display: table;
      margin: 0 auto;
      a {
        width: 140px;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .editor-common {
      height: 215px;
    }
    .add-sub-container {
        .bootstrap-select {
            width: calc(100% - 122px)!important;
            float: left;
            margin-right: 10px;


            .dropdown-toggle {
                border: 1px solid #e2e2e2;
                @include BorderRadius(5px);
                padding: 0 15px;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
            }
        }

        .add-sub-btn {
            width: 111px;
            height: 40px;
            line-height: 40px;
            @include BorderRadius(5px);
            float: left;
        }
    }
}
