@media screen and (min-width: 0) and (max-width: 992px) {
    body {
        min-width: 320px;
    }
    header .header-middle .container, .container {
        max-width: 100%!important;
    }
    .news-with-no-padding .row {
        .col-6, .col-3 {
            width: 100%;
            padding-right: calc(var(--bs-gutter-x)/ 2);
            padding-left: calc(var(--bs-gutter-x)/ 2);
        }
    }
}
